.button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  background-color: rgb(228, 237, 255);
  margin-bottom: 1rem;

  a[mat-fab] {
    margin: 0 8px;
    border-radius: 0.5rem;
  }
}
