<div class="button-container">
  <a
    mat-fab
    extended
    [routerLink]="PHOTO_GALLERY_ROUTE"
    [appActiveLink]="{
      activeStyle: activeGalleryStyle,
      inactiveStyle: galleryGradient
    }"
  >
    {{ galleryTitle | uppercase }}
  </a>
  <a
    mat-fab
    extended
    [routerLink]="FAVORITES_PHOTOS_ROUTE"
    [appActiveLink]="{
      activeStyle: activeFavoriteStyle,
      inactiveStyle: favoriteGradient
    }"
  >
    <mat-icon>favorite</mat-icon>
    {{ favoriteTitle | uppercase }}
  </a>
</div>
