.single-photo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.single-photo-container img {
  width: 20%;
  height: auto;
  object-fit: contain;
  margin-bottom: 1rem;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1rem;

  margin-bottom: 1rem;

  a[mat-fab] {
    margin: 0 8px;
    border-radius: 0.5rem;
  }
}
